{% extends 'base.html' %}
{% block conteudo %}
<div id="login">
    <form class="form-login" action="/register" method="POST">
        <h1>cadastro</h1>
        {% with msg = get_flashed_messages()|first %}
            {% if msg %}
            <p class="mensagem">{{ msg }}</p>
            {% endif %}
        {% endwith %}
        <br>
        <label for="text">nome:</label>
        <input type="text" name="nome" placeholder="digite aqui..." autocomplete="off" required>
        <label for="text">User:</label>
        <input type="text" name="user" placeholder="digite aqui..." autocomplete="off" required>
        <label for="text">Senha:</label>
        <input type="text" name="senha" placeholder="digite aqui..." autocomplete="off" required>
        <button>login</button>
        <a href="/login">já tem cadastro? clique aqui!</a>
    </form>
</div>




{% endblock %}