{% extends 'base.html' %}
{% block conteudo %}


<div id="login" class="novasenha">

    <form class="form-login" action="/usuario/novasenha" method="POST">
        <h2>Altere a senha</h2>
        <label for="">senha: </label>
        <input type="password" name="senha" required>
        <label>Confirme a nova senha: </label>
        <input type="password" name="confirmacao" required>
        <button type="submit">Cadastrar nova senha</button>
        <a href="/">
            <button type="button">Cancelar</button>
        </a>
    </form>

</div>













{% endblock %}